<h2>StartPresentation</h2>
@*@Html.Action("Questions")
@Html.Action("Slides")*@

@if (ViewBag.areQuestionsAvailable)
    {
        @Html.Action("Questions", new { courseName = (string)ViewBag.HiddenInput })
        
    }
    else
    {
        @Html.Action("Slides",new { courseName = (string)ViewBag.HiddenInput })
    }

@section scripts{
    @Scripts.Render("~/bundles/swiper")
    @Scripts.Render("~/bundles/jqueryajax")
    <script>
        var swiper = new Swiper('.swiper-container');
    </script>
}

