
@model CourseToPosDep

<h2>Bulk User Course Assign</h2>

@using (Html.BeginForm("BulkCourseAssign", "Admin", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div>
        <label class="label-input" for="DepNameInputField"> Department: </label>
        @Html.TextBoxFor(model => model.Department, new { id = "DepNameInputField" })
        @Html.ValidationMessageFor(m => m.Department, null, new { @class = "text-danger" })
    </div>
    <div>
        <label class="label-input" for="PosNameInputField"> Possition: </label>
        @Html.TextBoxFor(model => model.Possition, new { id = "PosNameInputField" })
        @Html.ValidationMessageFor(m => m.Possition, null, new { @class = "text-danger" })
    </div>
    <div>
        <label class="label-input" for="CourseNameInputField"> Course Name: </label>
        @Html.TextBoxFor(model => model.CourseName, new { id = "CourseNameInputField" })
        @Html.ValidationMessageFor(m => m.CourseName, null, new { @class = "text-danger" })
    </div>
    <div>
        <label class="label-input" for="DateInputField"> Due Date: </label>
        @Html.TextBoxFor(model => model.DueDate, new { id = "DateInputField" })
        @Html.ValidationMessageFor(m => m.DueDate, null, new { @class = "text-danger" })
    </div>
    <div>
        @Html.LabelFor(model => model.IsMandatory)
        @Html.EditorFor(model => model.IsMandatory)
    </div>

    if (ViewBag.Error != null)
    {
        <p class="col-form-label text-danger">@ViewBag.Error</p>
    }
    <div>
        <input type="submit" value="Save" />
    </div>
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
@Scripts.Render("~/bundles/jqueryajax")
<script>
    LearnItAutocomplete("#DepNameInputField", "Names",@Html.Raw(Json.Encode(ViewBag.courseDepPosNames.DepartmentList)));
    LearnItAutocomplete("#PosNameInputField", "Names",@Html.Raw(Json.Encode(ViewBag.courseDepPosNames.PossitionList)));
    LearnItAutocomplete("#CourseNameInputField", "Names",@Html.Raw(Json.Encode(ViewBag.courseDepPosNames.CourseNameList)));
    //there is also only a LearnItAutocomplete which uses only the first 3 variables and gives out suggestions in a
    //input field based on which field u want to use
</script>