@model List<QuestionInfo>
<h2>Questions</h2>
<div id="results">

    @using (Ajax.BeginForm("SendAnswers", "Courses", FormMethod.Post, new AjaxOptions { UpdateTargetId = "results" }))
    {
        @Html.AntiForgeryToken()
        <div class="swiper-container">
            <div class="swiper-wrapper">
                @for (int i = 0; i < Model.Count; i++)
                {
                    <div class="swiper-slide">
                        <div class="questions">
                        <h3>@Model[i].Qstn</h3>
                        @Html.HiddenFor(m => @Model[i].Qstn)
                        @foreach (var answer in Model[i].Answers)
                    {
                            <label>
                                @Html.RadioButtonFor(m => Model[i].SelectedAnswer, answer)
                                @answer
                            </label>
                            <br />
                        }
                         </div>
                    </div>
                }
                <div class="swiper-slide">
                    <div class="questions">
                        <input type="submit" value="Send results" class="btn btn-primary btn-lg" />
                    </div>
                </div>
            </div>
        </div>
    }




</div>
