
@{
    Layout = "";
}
@model UserCourseInfo

<tr>
    <td>@Model.Name </td>
    <td>@Model.isMandatory </td>
    <td>@Model.AssignmentDate </td>
    <td>@Model.CompletionDate </td>
    <td>@Model.DueDate </td>
    <td>@Model.Status</td>
</tr>
    


